[submodule "golbiga"]
	path = golbiga
	url = https://github.com/golbiga/Profiles
[submodule "gregneagle"]
	path = gregneagle
	url = https://github.com/gregneagle/Profiles
[submodule "rtrouton"]
	path = rtrouton
	url = https://github.com/rtrouton/profiles
[submodule "erikng"]
	path = erikng
	url = https://github.com/erikng/osxprofiles
[submodule "poundbangbash/excel"]
	path = poundbangbash/excel
	url = https://gist.github.com/e5046be406fea966e7e5.git
[submodule "poundbangbash/word"]
	path = poundbangbash/word
	url = https://gist.github.com/e22bc2dcd025a6406800.git
[submodule "poundbangbash/onenote"]
	path = poundbangbash/onenote
	url = https://gist.github.com/6743bc02d59eb2b03f00.git
[submodule "poundbangbash/powerpoint"]
	path = poundbangbash/powerpoint
	url = https://gist.github.com/d083e1a21ebd64682f13.git
[submodule "poundbangbash/outlook1"]
	path = poundbangbash/outlook1
	url = https://gist.github.com/2e0527364f362ece1c21.git
[submodule "poundbangbash/outlook2"]
	path = poundbangbash/outlook2
	url = https://gist.github.com/010988ecda36174cf0d3.git
[submodule "rodchristiansen"]
	path = rodchristiansen
	url = https://github.com/rodchristiansen/Profiles.git
[submodule "vmiller"]
	path = vmiller
	url = https://github.com/vmiller/profiles.git
[submodule "opragel"]
	path = opragel
	url = https://github.com/opragel/profiles.git
[submodule "poundbangbash/office2016"]
	path = poundbangbash/office2016
	url = https://gist.github.com/poundbangbash/58ec77648d3903c40332493bf260d901
[submodule "mwohlgemuth"]
	path = mwohlgemuth
	url = https://github.com/mwohlgemuth/profiles.git
[submodule "umeditor"]
	path = umeditor
	url = https://github.com/umeditor/profiles.git
[submodule "apettinen"]
	path = apettinen
	url = https://github.com/apettinen/profiles.git
[submodule "neilmartin83"]
	path = neilmartin83
	url = https://github.com/neilmartin83/configuration_profiles/
[submodule "flammable"]
	path = flammable
	url = https://github.com/flammable/profiles
[submodule "gmarnin"]
	path = gmarnin
	url = https://github.com/gmarnin/Profiles
	