[submodule "amsysuk"]
	path = amsysuk
	url = https://clburlison@github.com/amsysuk/public_config_profiles.git
[submodule "golbiga"]
	path = golbiga
	url = https://clburlison@github.com/golbiga/Profiles
[submodule "gregneagle"]
	path = gregneagle
	url = https://clburlison@github.com/gregneagle/Profiles
[submodule "nmcspadden"]
	path = nmcspadden
	url = https://clburlison@github.com/nmcspadden/Profiles
[submodule "rtrouton"]
	path = rtrouton
	url = https://clburlison@github.com/rtrouton/profiles
[submodule "erikng"]
	path = erikng
	url = https://clburlison@github.com/erikng/osxprofiles
